@mixin button ($borderColor,$bg,$color,$padding1,$padding2,$bg-hover,$color-hover) {
    border: 2px solid $borderColor;
    border-radius: 40px;
    background-color: $bg;
    color: $color;
    font-weight: $font-weight-bold;
    padding: $padding1 $padding2;
    font-size: $font-size-1;
    cursor: pointer;
    &:hover{
        background-color: $bg-hover;
        color: $color-hover;
    }
}
@mixin arrow($left,$right) {
    content: '';
    border-bottom: 15px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top:-15px;
    left: $left;
    right: $right;
}